@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/form/shared.sass";
@import "~bulma/sass/form/input-textarea.sass";
@import "~bulma/sass/form/checkbox-radio.sass";

$primary: #F2797B;
$secondary: #12253F;
$white: #fff;

$spacing--s: .5rem;
$spacing--m: 1rem;
$spacing--l: 1.5rem;
$spacing--xl: 2rem;